/* @import url("https://rsms.me/inter/inter.css"); */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700;800&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Archivo+Black:wght@400;500;700&display=swap"); */

:root {
  /* --background-color: #f0f0f0; */
  --background-color: #f5f5f5;
  --fontSize: 1rem;
  --lineHeight: calc(var(--fontSize) * 1.5);
  --baseline: calc(var(--lineHeight) / 2);

  /* --sansFont: "Archivo"; */
  --sansFont: "Plus Jakarta Sans";
  --h1-size: 2.8rem;
  --h2-size: 2.2rem;
  --h3-size: 1.4rem;
  --h4-size: 1.1rem;

  --font-weight-bolder: 500;
  --font-weight-bold: 700;

  --fg-color: hsl(0, 50%, 50%);
  --fg-accent-color: hsl(210, 90%, 50%);
  --fg-accent-color--light: hsla(210, 90%, 50%, 25%);
  --fg-accent-color--lighter: hsla(210, 90%, 50%, 8%);

  --spacing-xs: 0.5rem; /* 8px  */
  --spacing-sm: 0.75rem; /* 12px */
  --spacing: 1rem; /* 16px */
  --spacing-lg: 1.5rem; /* 24px */
  --spacing-xl: 2rem; /* 32px */

  --width-xl: 80rem;
  --width-lg: 56rem;
}

* {
  box-sizing: border-box;
}

html {
  font-family: var(--sansFont), -system-ui, system-ui, sans-serif;
  font-size: var(--fontSize);
  line-height: var(--lineHeight);
  background-color: var(--background-color);
  color: var(--foreground-color);
  letter-spacing: -0.01em;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-variant-ligatures: contextual common-ligatures;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "cv10" 1; /* G */
}
/* first element has no top margin */
:first-child {
  margin-top: unset;
}
:last-child {
  margin-bottom: unset;
}

[hidden] {
  display: none !important;
}
[disabled] {
  pointer-events: none;
  opacity: 0.3;
}
.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.vertical {
  display: flex;
  flex-direction: column;
}
.center {
  justify-content: center;
  align-items: center;
}
.flex {
  flex: 1;
}

h1 {
  font-size: var(--h1-size);
  line-height: calc(var(--lineHeight) * 2);
  letter-spacing: -0.025em;
}
h2 {
  font-size: var(--h2-size);
  line-height: calc(var(--lineHeight) * 2);
  letter-spacing: -0.03em;
}
h3 {
  font-size: var(--h3-size);
  line-height: calc(var(--lineHeight) * 2);
  letter-spacing: -0.02em;
}
h2 {
  font-size: var(--h4-size);
  line-height: calc(var(--lineHeight) * 2);
  letter-spacing: -0.012em;
}
h1,
h2,
h3,
h4 {
  padding-top: calc(var(--baseline) * 0.75);
  padding-bottom: calc(var(--baseline) * 0.25);
  margin-top: 0;
  margin-bottom: var(--baseline);
}
* + h1,
h2,
h3,
h4 {
  /*   background-color: pink; */
  /*   margin-top: var(--lineHeight); */
  /*   padding-top: calc(var(--lineHeight) * 0.5); */
  /*   padding-bottom: calc(var(--lineHeight) * 0.5); */
  margin-bottom: 0;
  padding-bottom: 0;
}
* + p {
  margin-top: calc(var(--baseline) / 2);
}
p a {
  font-weight: var(--font-weight-bolder);
  color: var(--fg-accent-color);
  text-decoration: none;
  border-bottom: 2px solid var(--fg-accent-color--light);
}
p a:hover {
  /* color: $accent; */
  background-color: var(--fg-accent-color--lighter);
  border-bottom-color: var(--fg-accent-color);
  border-bottom-style: solid;
}

p a:active {
  border-bottom-style: dashed;
}

p a:focus {
  outline: inherit;
}

p a:visited {
  color: var(--fg-accent-color);
}

strike {
  opacity: 0.5;
}
/* p a[target="_blank"]::after {
  display: inline-block;
  content: "\2197";
  font-weight: 400;
  padding-left: 0.125em;
}
p a[href^="mailto:"]::before {
  content: "\270E";
  content: "\2192";
  display: inline-block;
  font-weight: 400;
  padding-right: 0.125em;
} */

.mt-xl {
  margin-top: var(--spacing-xl);
}

.parent {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.parent .section {
  display: grid;
  place-items: center;
}

.container {
  max-width: var(--width-xl);
  padding: 0 var(--spacing);
  margin-bottom: var(--spacing-lg);
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 360px) {
  .container {
    padding: 0 var(--spacing-lg);
    /*     margin-bottom: var(--spacing-xl); */
  }
}

.container-grid {
  display: flex;
  flex-direction: column;
  /* display: grid; */

  /* grid-template-rows: 1fr 1fr 1fr; */
  /* grid-template-columns: 1fr; */
  /* background-color: tomato; */
  gap: var(--spacing-xl);
  /* height: 100%; */
}

@media only screen and (min-width: 721px) {
  .container-grid {
    /* display: flex; */
    display: grid;
    /* background-color: lime; */

    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    gap: var(--spacing-xl);
    /* height: 100%; */
  }
}

.tag-list small {
  display: flex;
  gap: 1ch;
  font-size: 0.75rem;
  line-height: 1rem;
  opacity: 0.75;
}
.tag-item {
  display: inline-block;
  text-transform: uppercase;
}

.container--content p {
  font-size: 1.125rem;
  line-height: 1.5;
}

.p-lead {
  font-size: var(--h3-size);

  /* font-weight: var(--font-weight-bold); */
  line-height: 1.5;
  opacity: 0.96;
  /*   margin-top: 0; */
  margin-top: calc(var(--fontSize) * 1.5);
  margin-bottom: calc(var(--fontSize) * 3);
}

@media only screen and (min-width: 721px) {
  .p-lead {
    font-size: var(--h2-size);
    margin-top: calc(var(--fontSize) * 3);
    margin-bottom: calc(var(--fontSize) * 6);
  }
}

.fx-transition {
  animation: 0.75s ease-out FXfadeInTop2;
  animation-fill-mode: both;
  /*   transform-origin: 50%; */
  opacity: 0;
}
.container:nth-child(2) {
  animation-delay: 0.25s;
}
.container:nth-child(3) {
  animation-delay: 0.5s;
}
.container:nth-child(4) {
  animation-delay: 0.75s;
}

.logo {
  font-size: 1.125rem;
  font-weight: var(--font-weight-bold);
}

.headline {
  padding-top: 4rem;
  /* padding-top: 40vmax; */
  /* font-size: 5vw; */
  /* font-size: clamp(1.25rem, -0.2134rem + 7.3171vw, 5rem); */
  /* font-size: clamp(3.5rem, -0.2134rem + 7.3171vw, 5rem); */
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 900;
  line-height: 1.25;
}

@media only screen and (min-width: 721px) {
  .headline {
    padding-top: 0;
    font-size: clamp(3.5rem, 5vw, 5rem);
    /* padding-top: 10vmax; */
  }
}

@keyframes FXfadeInTop2 {
  0% {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes FXfadeInBottom {
  0% {
    opacity: 0;
    top: translateY(0.5rem);
  }
  100% {
    opacity: 1;
    top: translateY(0);
  }
}

@keyframes FXfadeInTop {
  0% {
    opacity: 0;
    transform: translate3d(0, 88px, 0);
  }
  52% {
    opacity: 0;
    transform: translate3d(0, -16px, 0) rotateZ(-30deg) scaleY(1.125);
  }
  75% {
    transform: translate3d(0, 8px, 0) rotateZ(15deg) scaleY(1);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

:root {
  --delta-bubblo-y: 40px;
  --bubble-animation-duration: 4s;
}

.full-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.full-background img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 0;
}

.bubblo {
  /* position: absolute; */
  position: absolute;
}
#bubblo-1 {
  /* opacity: 0; */
  width: var(--bubblo-size);
  height: auto;
  top: 7vmax;
  left: -14vmax;
  --bubblo-size: 40vmax;
  --delta-bubblo-y: 50px;
  --bubble-animation-duration: 11s;
}
@media only screen and (min-width: 721px) {
  #bubblo-1 {
    width: var(--bubblo-size);
    height: auto;
    top: calc(35% - (var(--bubblo-size) / 2) - 7vmax);
    left: calc(50% - (var(--bubblo-size) / 2) - 30vmax);
    --bubblo-size: 20vmax;
  }
}

#bubblo-1 .body-main {
  /* fill: #ccc; */
}
#bubblo-1 .face {
  fill: hsla(342, 96%, 10%, 0.8);
}
#bubblo-2 {
  width: var(--bubblo-size);
  height: auto;
  top: 7vmax;
  right: -5vmax;
  --bubblo-size: 30vmax;
  --delta-bubblo-y: 60px;
  --bubble-animation-duration: 10s;
}
#bubblo-2 .face {
  fill: hsla(216, 96%, 10%, 0.9);
}
@media only screen and (min-width: 721px) {
  #bubblo-2 {
    width: var(--bubblo-size);
    height: auto;
    top: calc(25% - (var(--bubblo-size) / 2));
    --bubblo-size: 14vmax;
    right: unset;
    left: calc(50% - (var(--bubblo-size) / 2) + 25vmax);
  }
}

#bubblo-3 {
  width: var(--bubblo-size);
  height: auto;
  top: 36vmax;
  left: calc(50% - (var(--bubblo-size) / 2));
  --bubblo-size: 20vmax;
  --delta-bubblo-y: 60px;
  --bubble-animation-duration: 13s; /* 18 */
}
#bubblo-3 .face {
  fill: hsla(93, 96%, 10%, 0.9);
}
@media only screen and (min-width: 721px) {
  #bubblo-3 {
    width: var(--bubblo-size);
    height: auto;
    top: calc(12.5% - (var(--bubblo-size) / 2) + 10vmax);
    left: calc(50% - (var(--bubblo-size) / 2));
    --bubblo-size: 10vmax;
  }
}

.bubblo {
  animation: var(--bubble-animation-duration) ease-in-out FxBodyMove infinite;
  transform-origin: 50%;
  /* transform: translateY(0 - calc(var(--delta-bubblo-y) / 2)) rotateZ(5deg); */
}
.bubblo .face {
  animation: var(--bubble-animation-duration) ease-in-out FxFaceMove infinite;
  /* animation-fill-mode: both; */
  transform-origin: 50%;
}

.bubblo .body {
  /* fill: red; */
  /* fill: radial-gradient(
      42.73% 42.73% at 67.73% 67.27%,
      #000000 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    radial-gradient(
      53.64% 53.64% at 30.45% 23.64%,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #fe99b8;
  background-blend-mode: overlay, soft-light, normal;
  border-radius: 160px; */
  /* fill: #fe99b8; */
}
.body-light {
  animation: var(--bubble-animation-duration) ease-in-out FXfaceHover infinite;
}

.body-dark {
  animation: var(--bubble-animation-duration) ease-in-out FXfaceHover infinite
    reverse;
}

#bubblo-2 {
  animation-delay: -1s;
}

#bubblo-2 .face {
  animation-delay: -1s;
}

#bubblo-3 {
  animation-delay: -2s;
  /* animation-duration: 10s; */
}

#bubblo-3 .face {
  animation-delay: -2s;
  /* animation-duration: 10s; */
}

@keyframes FxBodyMove {
  0% {
    /* transform: translateX(calc(-320px)) translateY(calc(320px)); */
    /* transform: translateY(0 - calc(var(--delta-bubblo-y) / 2)); */
    transform: translateY(initial);
  }
  50% {
    /* transform: translateX(calc(-320px)) translateY(calc(320px)); */
    transform: translateY(var(--delta-bubblo-y)) scaleY(0.98) rotateZ(-5deg);
  }
  100% {
    /* transform: translateY(0 - calc(var(--delta-bubblo-y) / 2)); */
    transform: translateY(initial);
    /* transform: translateX(calc(100vw + 320px)) translateY(calc(-320px)); */
  }
}
@keyframes FxFaceMove {
  0% {
    /* transform: translateX(calc(-320px)) translateY(calc(320px)); */
  }
  50% {
    /* transform: translateX(calc(-320px)) translateX(calc(320px)); */
    /* transform: translateX(7%); */
  }
  100% {
    /* transform: translateX(0); */
    /* transform: translateX(calc(100vw + 320px)) translateY(calc(-320px)); */
  }
}
